<footer class="footer-wrap text-center">
  <div class="container">

    <div class='footercontact'>
      <div class='row'>
        <div class='col-xs-12 col-md-12'>
          <ul class="social social-icons-footer-bottom wow fadeInDown">
            <p>ADMIRALTY</p>
            <p> contact@admiralty.fr</p>
            <a href="mentions.html" style='text-align: left;'>Mentions légales </a>
            <div class="site-info wow fadeInUp">
              <p> © Copyright 2016</p>
            </div>
          </ul>
        </div>
    </div>
  </div>
</footer>
