<header id="section1" class="parallax-slider">
  <!-- Navigation -->
  <div id="navigation">
    <nav class="navbar navbar-custom cl-effect-21" role="navigation">
      <div class="container">
        <div class="row">
          <div class="col-md-2 mob-logo">
            <div class="row">
              <div class="site-logo">
                    <a href="#top"><img src="img/logo.png" alt="Agency"></a>
              </div>
            </div>
          </div>
          <div class="col-md-10 mob-menu">
            <div class="row">
<!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                    <i class="fa fa-bars"></i>
                    </button>
              </div>
<!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav navbar-right">
                  <li class="active"><a href="#section1">Home</a></li>
                  <li><a href="#section2">Admiralty</a></li>
                  <li><a href="#section3">Portfolio</a></li>
            <!-- <li><a href="#section4">Services</a></li> -->
            <!-- <li><a href="#section5">Clients</a></li> -->
                  <li><a href="#section7">Contact</a></li>
                  <li><a href=""></a></li>

                </ul>
              </div>
<!-- /.Navbar-collapse -->
            </div>
          </div>
        </div>
      </div>
<!-- /.container -->
    </nav>
  </div>
  <!-- /Navigation -->
</header>
<!-- /Header -->

