<section id="section2" class="about">
  <div class="container">
    <!-- Title row -->
    <div class="row">
      <div class="col-md-12 big-title wow bounceIn">
        <h2>About Us</h2>
      </div>

      <div class="clearfix"></div>

      <div class="col-md-12 sub-title text-center wow slideInRight">
        <h3>We match the project goals with a proposed solution considering latest web features, web design and corporate branding!</h3>
      </div>
    </div>

    <!-- /Title row -->
    <div class="row">
      <div class="col-md-12">
        <img src="img/imac-device.png" alt="About Us" class="img-responsive">
      </div>
    </div>
  </div>

  <!-- Service wrap -->
  <div class="about-wrap">
    <div class="parallax-layer">
      <div class="icons"></div>
    </div>
    <div class="parallax-layer">
      <div class="texture"></div>
    </div>
    <div class="container">
      <!-- Content row -->
      <div class="row">
        <!-- Content box 1 -->
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="content-box big ch-item wow fadeInLeft">
            <div class="ch-info-wrap">
              <div class="ch-info">
                <div class="ch-info-front ch-img-1">
                  <i class="fa fa-arrows-alt"></i>
                </div>
              </div>
            </div>
            <div class="content-box-info">
              <h4>Professional Work</h4>
              <p>
               Great development is the architecture that complements and supports the design. It is made by excellent use of white space, and plenty of it!
             </p>
           </div>
         </div>
       </div>
       <!-- /Content box 1 -->

       <!-- Content box 2 -->
       <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="content-box big ch-item wow fadeInDown">
          <div class="ch-info-wrap">
            <div class="ch-info">
              <div class="ch-info-front ch-img-1">
                <i class="fa fa-eye"></i>
              </div>
            </div>
          </div>
          <div class="content-box-info">
            <h4>Unique Design</h4>
            <p>
             Great development is the architecture that complements and supports the design. It is made by excellent use of white space, and plenty of it!
           </p>
         </div>
       </div>
     </div>
     <!-- /Content box 2 -->

     <!-- Content box 3 -->
     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="content-box big ch-item wow fadeInRight">
        <div class="ch-info-wrap">
          <div class="ch-info">
            <div class="ch-info-front ch-img-1">
              <i class="fa fa-rocket"></i>
            </div>
          </div>
        </div>
        <div class="content-box-info">
          <h4>Superb Support</h4>
          <p>
           Great development is the architecture that complements and supports the design. It is made by excellent use of white space, and plenty of it!
         </p>
       </div>
     </div>
   </div>
   <!-- /Content box 3 -->
 </div>
 <!-- /Content row -->
</div>
</div>
<!-- /Service wrap -->

<!-- What we do best -->
<div class="skills-wrap">
  <div class="container">
    <!-- Title row -->
    <div class="row">
      <div class="col-md-12 big-title wow bounceIn">
        <h2>What we do best</h2>
      </div>

      <div class="clearfix"></div>

      <div class="col-md-12 sub-title text-center wow slideInRight">
        <h3>It is not enough that we do our best; sometimes we must do what is required!</h3>
      </div>
    </div>
    <!-- /Title row -->

    <!-- Expertise progress bars -->
    <div class="skills">
      <ul class="col-md-6 col-sm-12 col-xs-12 wow fadeInLeft">
        <li class="progress">
          <div class="progress-bar" data-width="90">
            HTML/CSS Design 90%
          </div>
        </li>
        <li class="progress">
          <div class="progress-bar" data-width="75">
            JS 75%
          </div>
        </li>
      </ul>
      <ul class="col-md-6 col-sm-12 col-xs-12 wow fadeInRight">
        <li class="progress">
          <div class="progress-bar" data-width="95">
            Ruby 100%
          </div>
        </li>
        <li class="progress">
          <div class="progress-bar" data-width="70">
            IT Consultency 95%
          </div>
        </li>
      </ul>
    </div>
    <!-- /Expertise progress bars -->
  </div>
</div>
<!-- /What we do best -->


<!-- Quote of the day -->
<div class="quote-wrap light">
  <div class="texture-layer">
    <div class="container">
      <h2>
        <i class="fa fa-quote-left wow fadeInLeft"></i>
        <span class="wow bounceIn">
          Design is a plan for arranging elements in such a way as best to accomplish a particular purpose.
        </span>
        <i class="fa fa-quote-right wow" data-animate="fadeInRight"></i>
      </h2>
      <p class="animated wow" data-animate="fadeInUp">- Charles Eames -</p>
    </div>
  </div>
</div>
<!-- /Quote of the day -->

<!-- Agency team -->
<div class="team-wrap">
  <div class="container">
    <!-- Title row -->
    <div class="row">
      <div class="col-md-12 big-title wow bounceIn">
        <h2>Agency Team</h2>
      </div>

      <div class="clearfix"></div>

      <div class="col-md-12 sub-title text-center wow slideInRight">
        <h3>Get to know the talented people behind it all, and read our latest thinking about web design process, web development and content Agencying!</h3>
      </div>
    </div>
    <!-- /Title row -->

    <!-- Team members row 1-->
    <div class="row">
      <!-- item 1 -->

      <!-- End -->
      <!-- item 2 -->

      <!-- End -->
      <!-- item 3 -->
      <div class="col-sm-6 col-xs-12 item wow fadeInDown">
        <div class="team-member">
          <div class="team-member-holder">
            <div class="team-member-image">
              <img alt="" src="img/team/team-member-3.jpg">
              <div class="team-member-links">
                <div class="team-member-links-list">
                  <a target="_blank" class="facebook team-member-links-item" href="#"><i class="fa fa-facebook"></i></a>
                  <a target="_blank" class="twitter team-member-links-item" href="#"><i class="fa fa-twitter"></i></a>
                  <a target="_blank" class="linkedin team-member-links-item" href="#"><i class="fa fa-linkedin"></i></a>
                  <p>
                    Lorem ipsum dolor sit amet, quis adipiscing elit.
                  </p>
                </div>
              </div>
            </div>
            <div class="team-member-meta">
              <h4 class="team-member-name">Emma Watson</h4>
              <div class="team-member-role">
                CFO
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->
      <!-- item 4 -->
      <div class="col-sm-6 col-xs-12 item wow fadeInRight">
        <div class="team-member">
          <div class="team-member-holder">
            <div class="team-member-image">
              <img alt="" src="img/team/team-member-4.jpg">
              <div class="team-member-links">
                <div class="team-member-links-list">
                  <a target="_blank" class="facebook team-member-links-item" href="#"><i class="fa fa-facebook"></i></a>
                  <a target="_blank" class="twitter team-member-links-item" href="#"><i class="fa fa-twitter"></i></a>
                  <a target="_blank" class="linkedin team-member-links-item" href="#"><i class="fa fa-linkedin"></i></a>
                  <p>
                    Lorem ipsum dolor sit amet, quis adipiscing elit.
                  </p>
                </div>
              </div>
            </div>
            <div class="team-member-meta">
              <h4 class="team-member-name">Atiar Rahman</h4>
              <div class="team-member-role">
                CTO
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->
    </div>
    <!-- /Team members row 1-->
  </div>
</div>
<!-- /Agency team -->

<!-- Fun Facts -->
<div class="fun-wrap">
  <div class="texture-layer">
    <div class="container">
     <!-- Title row -->
     <div class="row">
      <div class="col-md-12 big-title light wow bounceIn">
        <h2>Some Fun Facts</h2>
      </div>
    </div>
    <!-- /Title row -->

    <div class="row">
      <div class="col-md-3 wow fadeInLeft">
        <div class="fun-box">
          <i class="fa fa-clock-o"></i>
          <span class="fun" data-from="0" data-to="4555" data-speed="5000" data-refresh-interval="50"></span>
          <p>Hours of work</p>
        </div>
      </div>

      <div class="col-md-3 wow fadeInDown">
        <div class="fun-box">
          <i class="fa fa-users"></i>
          <span class="fun" data-from="0" data-to="3" data-speed="5000" data-refresh-interval="50"></span>
          <p>Satisfied client</p>
        </div>
      </div>

      <div class="col-md-3 wow fadeInDown">
        <div class="fun-box">
          <i class="fa fa-check"></i>
          <span class="fun" data-from="0" data-to="222" data-speed="5000" data-refresh-interval="50"></span>
          <p>Projects Completed</p>
        </div>
      </div>

      <div class="col-md-3 wow fadeInRight">
        <div class="fun-box">
          <i class="fa fa-coffee"></i>
          <span class="fun" data-from="0" data-to="49" data-speed="5000" data-refresh-interval="50"></span>
          <p>Awards Won</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- /Fun Facts -->
</section>
<!-- /Section 2 -->
