<section id="section2" class="about">
  <div class="container">
    <!-- Title row -->
    <div class="row">
      <div class="col-md-12 big-title wow bounceIn">
        <h2>Nous sommes...</h2>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-12 sub-title text-center wow slideInRight">
        <h3 style='margin-bottom: 20px'>Là pour comprendre votre métier et vous proposer les meilleures solutions web. Pour nous, vous ne serez jamais qu’un simple numéro de projet!</h3>
        <p>Vous avez un projet de start-up et recherchez un développeur?</p>
        <p>Vous êtes une PME et souhaitez vous lancer dans l'e-commerce?</p>
        <p> Vous souhaitez vous installer en tant que profession libérale et souhaitez un site vitrine? </p>
        <a href="#section7"><i class="fa fa-arrow-down" aria-hidden="true"></i> Contactez nous!<i class="fa fa-arrow-down"aria-hidden="true"></i></a>
      </div>
    </div>
    <!-- /Title row -->
    <div class="row">
      <div class="col-md-12" style="
    padding: 20px;">
        <img src="img/slider/bureau-1.jpeg" alt="About Us" class="img-responsive">
      </div>
    </div>
  </div>

</section>
<!-- /Section 2 -->
