<section id="section7" class="contacts">

  <!-- Contact form -->
  <div class="contact-form">
    <div class="subscription-wrap light">
      <div class="texture-layer">
        <div class="container">

          <!-- Title row -->
          <div class="row">
            <div class="col-md-12 big-title wow bounceIn">
            <h2>Nous rencontrer</h2>
            </div>

            <div class="clearfix"></div>

            <div class="col-md-12 sub-title text-center wow slideInRight">
              <h3> Autour d'un café, par téléphone ou skype, nous serons toujours disponible pour vous.</h3>
            </div>
          </div>
          <!-- Title row -->

          <!-- Form element row -->
          <div class="row text-center">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <form action="https://getsimpleform.com/messages?form_api_token=3702d9271f659a47e83fabd67c57c3a6" class="reply" method="post">
                <fieldset>

                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 wow fadeInLeft">
                      <div class="col-md-12">
                        <input class="form-control" type='text' name='name' id="name"  placeholder="Nom et Prenom" required/>
                      </div>
                      <div class="col-md-12">
                        <input class="form-control" type='email' id="email" name='email' placeholder="email" required/>
                      </div>
                      <div class="col-md-12">
                        <input class="form-control" type="text" id="subject" name="subject" placeholder="Sujet" value="" required/>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 wow fadeInLeft">
                      <div class="row">
                        <div class="col-md-12">
                          <textarea class="form-control" type='text' id="message" name='message' rows="3" cols="40" placeholder="Message" required></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 wow fadeInUp">
                      <button type='submit' class="btn btn-2 btn-2c"> Envoyer </button>
                    </div>
                  </div>
                </fieldset>
              </form>
              <br>
              <p>contact@admiralty.fr </p>
              <div class="col-md-2"></div>
            </div>
          </div>
          <!-- /Contact form close-->
        </div>
      </div>
    </div>
  </div>

  <!-- Google Map -->
  <div class="map-wrap">
    <div class="wow fadeInUp">
      <div id="maps" class="google-maps">
      </div>
    </div>
  </div>
  <!-- /Google Map -->

</section>
<!-- /Section 7 -->

