<section id="section3" class="portfolio">

  <!-- Title row -->
  <div class="row">
    <div class="col-md-12 big-title wow bounceIn">
          <h2>Portfolio</h2>
    </div>

    <div class="clearfix"></div>

    <div class="col-md-12 sub-title text-center wow slideInRight">
          <h3>More people will pay you money to help them achieve a monetary goal than will pay you to give them something pretty to look at!</h3>
    </div>
  </div>
  <!-- /Title row -->

  <!-- Portfolio Filters -->
 <!--  <div id="filters" class="wow fadeInLeft">
    <ul class="clearfix">
      <li><a id="all" href="#" data-filter="*" class="active"><h5>All</h5></a></li>
      <li><a href="#" data-filter=".wordpress"><h5>Wordpress</h5></a></li>
      <li><a href="#" data-filter=".jquery"><h5>jQuery</h5></a></li>
      <li><a href="#" data-filter=".php"><h5>PHP</h5></a></li>
      <li><a href="#" data-filter=".css"><h5>CSS</h5></a></li>
      <li><a href="#" data-filter=".html"><h5>HTML</h5></a></li>
    </ul>
  </div> -->
  <!-- /Portfolio Filters -->
  <!-- Portfolio Wrap -->
    <div id="portfolio-wrap">
      <!-- Portfolio Item With PrettyPhoto  -->
      <div class="portfolio-item one-four wordpress html css">
        <div class="img-holder">
          <img class="img-responsive" src="img/portfolio/portfolio2.jpg" alt="">
          <div class="img-overlay"></div>
          <div class="overlay-effect">
            <span class="RoundBg"><a data-gal="prettyPhoto[galname]" href="img/portfolio/portfolio2.jpg"><i class="fa fa-search"></i></a>
            </span>
            <span class="RoundBg"><a href=""><i class="fa fa-link"></i></a>
            </span>
          </div>
          </div>
      </div>
        <!-- /Portfolio Item With PrettyPhoto  -->

        <!-- Portfolio Item With PrettyPhoto  -->

      <div class="portfolio-item one-four php jquery">
        <div class="img-holder">
          <img class="img-responsive" src="img/portfolio/portfolio3.jpg" alt="">
          <div class="img-overlay"></div>
          <div class="overlay-effect">
            <span class="RoundBg"><a data-gal="prettyPhoto[galname]" href="img/portfolio/portfolio3.jpg"><i class="fa fa-search"></i></a>
            </span>
            <span class="RoundBg"><a href=""><i class="fa fa-link"></i></a>
            </span>
          </div>
          </div>
      </div>
      <!-- /Portfolio Item With PrettyPhoto  -->

      <!-- Portfolio Item With PrettyPhoto  -->
    <!--   <div class="portfolio-item one-four wordpress css html">
        <div class="img-holder">
          <img class="img-responsive" src="img/portfolio/portfolio4.jpg" alt="">
          <div class="img-overlay"></div>
          <div class="overlay-effect">
            <span class="RoundBg"><a data-gal="prettyPhoto[galname]" href="img/portfolio/portfolio4.jpg"><i class="fa fa-search"></i></a>
            </span>
            <span class="RoundBg"><a href=""><i class="fa fa-link"></i></a>
            </span>
          </div>
        </div>
      </div> -->
      <!-- /Portfolio Item With PrettyPhoto  -->

   </div>
  <!-- /Portfolio Wrap -->
</section>
