<section id="section4" class="portfolio" style="
    padding-top: 60px; padding-bottom: 200px;">
  <!-- Title row -->
  <div class="row">
    <div class="col-md-12 big-title wow bounceIn">
      <h2>Nos réalisations</h2>
    </div>

    <div class="clearfix"></div>

    <div class="col-md-12 sub-title text-center wow slideInRight">
      <h3> les projets que nous avons terminés (cliquez sur les logos pour accéder aux sites):</h3>
    </div>
  </div>
  <!-- /Title row -->
  <div class="container">
    <div class="img-port">
    <a href="http://www.ouestimmobilier.net">
      <span><img class="img-responsive" style='display: inline;' src="img/portfolio/ouest.jpg" alt="Portfolio" > </span> </a>
    </div>
  </div>

<!-- Ancienne version -->
<!-- Portfolio Wrap -->
<!-- <div id="portfolio-wrap"> -->
  <!-- Portfolio Item With PrettyPhoto  -->
 <!--  <div class="portfolio-item one-four wordpress ">
    <div class="img-holder" >
      <img class="img-responsive" style='display: inline;' src="img/portfolio/ouest.jpg" alt="">
      <div class="img-overlay"></div>
      <div class="overlay-effect" style='display: inline;'> -->
<!--         <span class="RoundBg"><a data-gal="prettyPhoto[galname]" href="img/portfolio/portfolio2.jpg"><i class="fa fa-search"></i></a>
        </span> -->
        <!-- <span class="RoundBg"><a href=""><i class="fa fa-link"></i></a> -->
      <!--   </span>
      </div>
    </div>
  </div> -->
  <!-- /Portfolio Item With PrettyPhoto  -->
<!-- </div> -->
<!-- /Portfolio Wrap -->
</section>
