<section id="section3" class="portfolio">

  <!-- Title row -->
  <div class="row">
    <div class="col-md-12 big-title wow bounceIn">
          <h2>Portfolio</h2>
    </div>

    <div class="clearfix"></div>
    <div class="col-md-12 sub-title text-center wow slideInRight">
          <h3>More people will pay you money to help them achieve a monetary goal than will pay you to give them something pretty to look at!</h3>
    </div>
  </div>
  <!-- /Title row -->

  <!-- Portfolio Wrap -->
  <!-- <div id="portfolio-wrap"> -->
    <!-- Portfolio Item With PrettyPhoto  -->
    <div class="container">
    <div class="portfolio-item one-four">
        <div class="img-holder">
          <div class="row">
            <img class="img-responsive" src="img/portfolio/OUEST-IMMO-LOGO.jpg" alt="" >
            <div class="img-overlay"></div>
            <div class="overlay-effect">
              <span class="RoundBg"><a data-gal="prettyPhoto[galname]" href="img/portfolio/OUEST-IMMO-LOGO.jpg"><i class="fa fa-search"></i></a>
              </span>
              <span class="RoundBg"><a href="http://www.ouestimmobilier.net"><i class="fa fa-link"></i></a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- Portfolio Item With PrettyPhoto  -->
<!--       <div class="portfolio-item one-four php jquery">
        <div class="img-holder">
          <img class="img-responsive" src="img/portfolio/uber.jpg" alt="">
          <div class="img-overlay"></div>
          <div class="overlay-effect">
            <span class="RoundBg"><a data-gal="prettyPhoto[galname]" href="img/portfolio/uber.jpg"><i class="fa fa-search"></i></a>
            </span>
            <span class="RoundBg"><a href="https://www.uber.com/fr/"><i class="fa fa-link"></i></a>
            </span>
          </div>
          </div>
      </div> -->

</section>
