<section id="section4" class="services">
  <div class="service-wrap">
    <div class="container">
      <!-- Title row -->
      <div class="row">
        <div class="col-md-12 big-title wow bounceIn">
          <h2>Services</h2>
        </div>

        <div class="clearfix"></div>

        <div class="col-md-12 sub-title text-center wow slideInRight">
          <h3>We match the project goals with a proposed solution considering latest web features, web design and corporate branding!</h3>
        </div>
      </div>
      <!-- /Title row -->

      <!-- Service row 1 -->
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow fadeIn">
          <div class="service-box">
            <div class="service-icon">
              <i class="fa fa-arrows-alt"></i>
            </div>
            <div class="service-box-content">
              <h4>Responsive Layout</h4>
              <p>
                Lorem Ipsum is simply dummy text of Lorem the printing and typesettings.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow fadeIn">
          <div class="service-box">
            <div class="service-icon">
              <i class="fa fa-eye"></i>
            </div>
            <div class="service-box-content">
              <h4>Retina Ready</h4>
              <p>
                Lorem Ipsum is simply dummy text of Lorem the printing and typesettings.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow fadeIn">
          <div class="service-box">
            <div class="service-icon">
              <i class="fa fa-edit"></i>
            </div>
            <div class="service-box-content">
              <h4>Rich Elements</h4>
              <p>
                Lorem Ipsum is simply dummy text of Lorem the printing and typesettings.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Service row 1 -->

      <!-- Service row 2 -->
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow fadeIn">
          <div class="service-box">
            <div class="service-icon">
              <i class="fa fa-leaf"></i>
            </div>
            <div class="service-box-content">
              <h4>Unique Design</h4>
              <p>
                Lorem Ipsum is simply dummy text of Lorem the printing and typesettings.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow fadeIn">
          <div class="service-box">
            <div class="service-icon">
              <i class="fa fa-cog"></i>
            </div>
            <div class="service-box-content">
              <h4>New Approach</h4>
              <p>
                Lorem Ipsum is simply dummy text of Lorem the printing and typesettings.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow fadeIn">
          <div class="service-box">
            <div class="service-icon">
              <i class="fa fa-search"></i>
            </div>
            <div class="service-box-content">
              <h4>SEO Ready</h4>
              <p>
                Lorem Ipsum is simply dummy text of Lorem the printing and typesettings.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Service row 2 -->

      <!-- Service row 3 -->
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow fadeIn">
          <div class="service-box">
            <div class="service-icon">
              <i class="fa fa-rocket"></i>
            </div>
            <div class="service-box-content">
              <h4>Professional Quality</h4>
              <p>
                Lorem Ipsum is simply dummy text of Lorem the printing and typesettings.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow fadeIn">
          <div class="service-box">
            <div class="service-icon">
              <i class="fa fa-code"></i>
            </div>
            <div class="service-box-content">
              <h4>HTMl5 Codes</h4>
              <p>
                Lorem Ipsum is simply dummy text of Lorem the printing and typesettings.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow fadeIn">
          <div class="service-box">
            <div class="service-icon">
              <i class="fa fa-clock-o"></i>
            </div>
            <div class="service-box-content">
              <h4>Timely Delivery</h4>
              <p>
                Lorem Ipsum is simply dummy text of Lorem the printing and typesettings.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Service row 3 -->
    </div>
  </div>
</section>
