
<header id="section1" class="parallax-slider">
  <!-- Navigation -->
  <div id="navigation">
    <nav class="navbar navbar-custom cl-effect-21" role="navigation">
      <div class="container">
        <div class="row">
          <div class="col-md-2 mob-logo">
            <div class="row">
              <div class="site-logo">
                <a href="index.html"><img src="img/logo.png" alt="Agency"></a>
              </div>
            </div>
          </div>
          <div class="col-md-10 mob-menu">
            <div class="row">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                  <i class="fa fa-bars"></i>
                </button>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="index.html">Home</a></li>
                  <li class="active"><a href="#">Mentions légales</a></li>
                </ul>
              </div>
              <!-- /.Navbar-collapse -->
            </div>
          </div>
        </div>
      </div>
      <!-- /.container -->
    </nav>
  </div>
  <!-- /Navigation -->
</header>

<body>
  <div class="fun-wrap">
    <div class="texture-layer">
      <div class="container">
        <!-- Title row -->
        <div class="row">
          <div class="col-md-12 big-title light wow bounceIn">
            <h2>Mentions légales</h2>
          </div>
        </div>
        <!-- /Title row -->
        <div class="row">
          <div class="col-md-12">
            <div class="fun-box-mentions">
              <h3 style='color: white'>Propriété du site</h3>
                <p>Vous êtes connecté au site web www.admiralty.fr , propriété de la société Admiralty Production.</p>
                <p> Hébergement du site internet : heroku.com </p>
                <h3 style='color: white'>Admiralty Production</h3>
                <p>957 domaine de la vigne</p>
                <p>59910 Bondues</p>
                <p>www.admiralty.fr</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<footer class="footer-wrap text-center">
  <div class="container">
    <div class='footercontact'>
      <div class='row'>
        <div class='col-xs-12 col-md-12'>
          <ul class="social social-icons-footer-bottom wow fadeInDown">
            <p>ADMIRALTY</p>
            <p> contact@admiralty.fr</p>
            <a href="mentions.html" style='text-align: left;'>Mentions légales </a>
            <div class="site-info wow fadeInUp">
              <p> © Copyright 2016</p>
            </div>
          </ul>
        </div>
    </div>
  </div>
</footer>

